*{
    box-sizing: border-box;
}

.profileInfo{
    padding: 20px;
    margin: 50px auto 0px;
    border-style: none;
    border-radius: 5px;
    width: 500px;
    background-color: rgb(148, 219, 231);
    text-align: center;
}
.heading{
    font-size: 30px;
    font-weight: bold;
    color: dimgray;
}
.label{
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: left;
}
.profileImgBox{
    width: 150px;
    height: 150px;
    margin: auto;
}

.profileForm{
    margin-top: 20px;
}