*{
    box-sizing: border-box;
}
.container{
    width: 800px;
    /* height: 550px; */
    border: 1px solid black;
    margin: 0px auto;
    padding: 30px 50px;
    background-color: cornsilk;
}
.regInput{
    margin-bottom: 20px;
    /* margin-left: 20px; */
    font-size: 15px;

}

h1{
    text-align: center;
    font: 35px bolder;
    color: cadetblue;
    margin-bottom: 25px;
}

input{
    margin-top: 5px;
    
}

.regLabel{
font-weight: normal;
text-align: left;

}

.radio{
    vertical-align: text-bottom;
}
.logInput{
    width: 100%;
}
p{
    font-size: 12px;
    font-style: oblique;
    color: red;
}

.profileBox{
    display: inline-block;
    width: 110px;
    height: 100px;
    border: 1px solid black;
    vertical-align: middle;
    margin-left: 20px;

}
